* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.form {
  margin: 100px;
}

.form-login, .form-password {
  display: block;
  margin-bottom: 15px;
  min-width: 250px;
  min-height: 30px;
}

.form-btn {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  background-color: #fff;
  color: #237F28;
  outline: none;
  border: 1px solid #237F28;
  transition-duration: .3s;
}

.form-btn:hover {
  background-color: #237F28;
  color: #fff;
}